.app-project
  width: 100%
  display: table
  padding: 10px
  > div
    padding: 10px
    display: table-cell

  .icon-boxes
    float: left
    margin-right: 20px
    a
      //background-image: $projects-sprites
      //background-repeat: no-repeat
      background: none
      width: 73px
      height: 73px
      display: block
      cursor: pointer

.app-project .icon-boxes-1 a, .summary-box .icon-boxes-1 a
  background-position: -65px 0
.app-project .icon-boxes-2 a, .summary-box .icon-boxes-2 a
  background-position: -65px -83px
.app-project .icon-boxes-3 a, .summary-box .icon-boxes-3 a
  background-position: -65px -166px
.app-project .icon-boxes-4 a, .summary-box .icon-boxes-4 a
  background-position: -65px -249px
.app-project .icon-boxes-5 a, .summary-box .icon-boxes-5 a
  background-position: -65px -332px

.app-project
  .col40
    width: 42%
    h3
      font-family: "proximanova_semibold"
      font-size: 16px
      color: #0a4887
      padding-top: 5px
      margin-bottom: 7px
    p
      span, a
        font-size: 14px
        font-family: "proximanova_regular"
        color: #2e96db
    .bottom-icons-box
      margin-top: 5px
    .ok-state, .error-state
      margin: 7px 0 0 0
    .icons-gray-box a
      margin: 0 0 0 11px
  .col21
    font-family: "proximanova_regular"
    color: #434445
    width: 17%
    h4
      font-size: 16px
      line-height: 25px
  .app-budget
    width: 16%
    p
      font-family: "proximanova_regular"
      color: #434445
      font-size: 16px
    .price
      background: #2bad43
      font-family: "proximanova_semibold"
      padding: 6px 7px
      color: #fff
      line-height: 18px
      font-size: 15px
      width: 86px
      height: 16px
      margin-top: 7px
  .bottom-icons-box
    .texts
      font-family: "SourceSansPro_Regular"
      font-size: 15px
    .icons-gray-box
      margin-top: 3px
  .app-resources
    padding-left: 0
    width: 24%

    p
      font-family: "proximanova_regular"
      color: #434445
      font-size: 16px
      width: 24%

    .size
      background: #4d94eb
      font-family: "proximanova_semibold"
      color: #fff
      text-align: center
      font-size: 15px
      margin-top: 7px
      padding: 0
      min-width: 54px
      float: left
      line-height: 28px

      table
        width: 160px
      td
        font-size: 12px
        font-family: "proximanova_semibold"
        line-height: 12px
        height: 17px
        padding: 0
        margin: 0
        vertical-align: middle
        border: none
        text-align: left
        padding-left: 8px
        &.c1
          width: 45%
          &.r1
            border-bottom: 1px solid #fff
        &.c2
          &.r1
            border-bottom: 1px solid #fff
            border-left: 1px solid #fff
          &.r2
            text-align: right
            padding-right: 8px

.app-project
  .app-budget
    .price
      height: 21px
      padding-top: 8px
      float: left
      width: auto
  .col21 h4, .col20 h4, .col18 h4
    font-size: 15px

.project-approval-icon
  font-size: 60px
  color: #e56148
  float: left
  padding: 5px
  margin-right: 20px

.table-box
  font-family: proximanova_semibold
  padding: 9px 12px
  line-height: 17px
  width: 100%
  max-width: 100%
  margin-bottom: 20px
  color: #7d7d7d

  .table-striped
    tbody
      tr:nth-child(odd)
        background-color: #f5f9fd

  .title-box
    margin-bottom: 20px
    color: #292e35
    font-size: 16px
    h2
      margin-bottom: 5px
  thead
    th
      background-color: #ebf3fc
      border: 1px solid #ffffff
      font-size: 12px
      font-family: proximanova_regular
  tbody
    tr
      background-color: #f8fbfe
    td
      border: 1px solid #ffffff
      line-height: 17px
      font-size: 14px

