<div class="product-img product-box-cell">
  <div class="icon-boxes orange-top-border product-box-shadow">
    <img class="icon-image" ng-src="/images/assets/{{product.img}}"/>
  </div>
</div>
<div class="product-title product-box-cell">
  <div class="title">{{product.name}}</div>
</div>
<div class="product-info product-box-cell">
  <div class="texts">{{product.cloud.name}}</div>
  <div class="description">{{product.description}}</div>
</div>
<div class="product-actions product-box-cell">
  <div class="btn-box">
    <div ng-transclude></div>
  </div>
</div>
