<div class="create-alert-page main-content left-184">

    <ng-include src="'/partials/common/solution-search.html'"></ng-include>

    <hr class="shadow-top">

    <div class="order-history-box column-box">
        <div class="titles-box">
            <h2>
                <strong>CREATE ALERT</strong>

            </h2>
            <div class="titles-border-bar">
                <span class="blues width157"></span>
                <span class="whites width3"></span>
            </div>
        </div>
        <!-- end .titles-box -->

        <div class="alert-box">
            <div class="info">
                Duis laoreet blandit elit, ac accumsan ipsum convallis sit amet. Quisque mi tortor, pharetra sed odio ut, tristique bibendum ex. Praesent venenatis augue nec dolor ultricies
            </div>

            <textarea placeholder="Type your alert content here" maxlength="140" ng-model="text"></textarea>
            <div class="btn-box fr">
                <span id="chars-left">{{140 - text.length}}</span>
                <a href="javascript:;" class="dark-blue-btn height30">PREVIEW</a>
                <a href="javascript:;" class="blue-btn height30">CREATE</a>
            </div>
        </div>

    </div>
    <!-- end .order-history-box -->

</div>
<!-- end .main-content -->
