<div class="dashboard-page main-content" set-width>
  <div class="content">

    <section-header name="Alerts" ng-show="dashboardCtrl.alerts.length > 0">
      <alerts-table alerts="dashboardCtrl.alerts"></alerts-table>
    </section-header>

    <section-header name="Projects ({{dashboardCtrl.projects.length}})">
      <div class="project-boxes">
        <project-box ng-repeat="project in dashboardCtrl.projects" project="project"></project-box>
        <div class="btn-box">
          <a ui-sref="base.newProject" class="add-btn add-icon"><i
            class="fa fa-plus-circle"></i><span>ADD NEW PROJECT</span></a>
        </div>
        <!-- end .btn-box -->
      </div>

    </section-header>

    <div class="clearfix"></div>

  </div>
</div>
