<div class="dashboard-page main-content" set-width>
  <div class="page">

    <section-header name="Alerts" ng-show="dashboardCtrl.alerts.length > 0">
      <alerts-table alerts="dashboardCtrl.alerts"></alerts-table>
    </section-header>

    <div class="dashboard-tab">
      <div class="tabs">
        <ul>
          <li ng-class="{active: tab == 'projects'} ">
            <a ng-click="dashboardCtrl.showTab('projects')">
              <div class="title-box">
              <h2>
                <strong>PROJECTS ({{projects.length}})</strong>
              </h2>
              </div>
            </a>
            <span class="border-spacing"></span>
          </li>
        </ul>
      </div>
      <!-- end .tabs -->

      <div class="tab-content projects-content" ng-show="tab == 'projects'">
        <project-box ng-repeat="project in projects" project="project"></project-box>
        <div class="btn-box">
          <a ui-sref="base.newProject" class="add-btn add-icon"><i class="fa fa-plus-circle"></i><span>ADD NEW PROJECT</span></a>
        </div>
        <!-- end .btn-box -->
      </div>

      <!-- end .tab-content -->
    </div>
    <!-- end .dashboard-tab -->

  </div>
</div>
