
<script type="text/ng-template" id="ModuleBox.html">
    <div class="module">
        <h3>
            <a ng-if="item.sref" ui-sref="{{item.sref}}" class="titles">{{item.name | uppercase}}</a>
            <a ng-if="!item.sref" href="javascript:" class="titles">{{item.name | uppercase}}</a>
            <span  class="icons">
              <a class="fa fa-cog grey-icon top-icon" title="Settings" tooltip-placement="bottom" tooltip="Settings"></a>
              <a class="fa fa-refresh grey-icon top-icon" title="Refresh" tooltip-placement="bottom" tooltip="Refresh"></a>
            </span>
        </h3>
        <div class="data-box">
            <div class="info">
                <a ng-if="item.sref" ui-sref="{{item.sref}}" class="icon-projects-emoticon">
                    <img ng-src="{{item.icon}}"/>
                </a>
                <a ng-if="!item.sref" href="javascript:" class="icon-projects-emoticon">
                    <img ng-src="{{item.icon}}"/>
                </a>
                <p>
                    <a href="{{item.url}}" class="blue-texts">{{item.domain}}</a>
                </p>
            </div>
            <div class="icons">
                <a ui-sref="base.service({serviceId: service.id})" class="" ng-repeat="service in item.services | limitTo:4">
                    <span class="center-image"></span><img class="center-image-img" ng-src="{{service.icon}}"/>
                </a>
            </div>
        </div>
        <!-- end .data-box -->
        <div class="bottom-area">
                <span class="fl">
                  <span class="blue-texts">{{item.state}}</span>
                  <span ng-class="{'fa fa-check-circle-o success-icon': item.state_ok, 'fa fa-exclamation-circle error-icon' : !item.state_ok }"></span>
                </span>
                <span class="fr">
                  <a class="fa fa-bar-chart grey-icon bottom-icon" title="Statistics" tooltip-placement="bottom" tooltip="Statistics"></a>
                  <a class="fa fa-play-circle-o grey-icon bottom-icon" title="Play" tooltip-placement="bottom" tooltip="Play"></a>
                </span>
        </div>
        <!-- end .bottom-area -->
    </div>
</script>


<div class="dashboard-page main-content" fix-sidebar set-width>

        <ng-include src="'/partials/common/problem-alerts.html'"></ng-include>


        <div class="dashboard-tab">
        <div class="tabs">
            <ul>
                <li ng-class="{active: tab == 'projects'}"><a class="icon-projects" ng-click="dashboardCtrl.showTab('projects')"><i></i><span>PROJECTS ({{projects.length}})</span></a><span class="border-spacing"></span></li>
            </ul>
        </div>
        <!-- end .tabs -->

        <div class="tab-content projects-content" ng-show="tab == 'projects'">

            <ng-include src="'ModuleBox.html'" ng-repeat="item in projects"></ng-include>

            <div class="btn-box">
                <a ui-sref="base.newProject" class="add-btn icon-add"><i></i><span>ADD NEW PROJECT</span></a>
            </div>
            <!-- end .btn-box -->
        </div>

        <!-- end .tab-content -->
        </div>
        <!-- end .dashboard-tab -->

    </div>
