


<div class="manage-page main-content" fix-sidebar set-width>

    <ng-include src="'/partials/common/solution-search.html'"></ng-include>
    <ng-include src="'/partials/common/solution-statistic.html'"></ng-include>
    <ng-include src="'/partials/common/problem-alerts.html'"></ng-include>

    <div class="projects-box column-box">
        <div class="titles-box">
            <h2>
                <span class="icon-projects"><i></i></span>
                <strong>PROJECTS ({{solution.projects.length}})</strong>
            </h2>

            <div class="solution-menu right-position">
                <a href="javascript:;" class="icon-solution current" drop-down><span>{{manageValues.projectsDropdown[0]}}</span><i></i></a>
                <div class="drop-down-box hide">
                    <span class="icon-arrow"></span>
                    <ul>
                        <li ng-repeat="item in manageValues.projectsDropdown.slice(1)"><a href="javascript:">{{item}}</a></li>
                    </ul>
                </div>
                <!-- end .drop-down-box -->
            </div>

            <div class="titles-border-bar">
                <span class="blues width137"></span>
                <span class="whites width3"></span>
            </div>
        </div>
        <!-- end .titles-box -->

        <div class="project-content">
            <div class="module" ng-repeat="project in projects">
                <div class="boxes">
                    <div class="col13 icon-info">
                        <a ui-sref="base.project({projectId: project.id})">
                            <span class="center-image"></span><img class="center-image-img" ng-src="{{project.icon}}"/>
                        </a>
                        <div ng-class="{'ok-state': project.stateOk, 'error-state' : !project.stateOk }">
                            <span ng-class="{'icon-green-ok': project.stateOk, 'icon-red-error' : !project.stateOk }"></span>
                            <span class="texts">{{project.state}}</span>
                        </div>
                    </div>
                    <div class="col28 min-info">
                        <div class="min-texts">
                            <a ui-sref="base.project({projectId: project.id})" class="titles">{{project.name | uppercase}}</a>
                            <p>
                                <span class="row-box"><a href="{{project.url}}" class="blue-texts">{{project.domain}}</a></span>
                                <span class="row-box resources-texts">Resources<strong>{{project.resources}}{{project.resourcesUnit}}</strong></span>
                                <span class="green-texts row-box">Budget : {{project.budget | currency}}</span>
                            </p>
                        </div>
                        <div class="icons-gray-box">
                            <a href="javascript:" class="fa fa-bar-chart grey-icon bottom-icon" title="Statistics" tooltip-placement="bottom" tooltip="Statistics"></a>
                            <a href="javascript:" class="fa fa-play-circle-o grey-icon bottom-icon" title="Play" tooltip-placement="bottom" tooltip="Play"></a>
                            <a href="javascript:" class="fa fa-refresh grey-icon bottom-icon" title="Refresh" tooltip-placement="bottom" tooltip="Refresh"></a>
                            <a href="javascript:" class="fa fa-cog grey-icon bottom-icon" title="Settings" tooltip-placement="bottom" tooltip="Settings"></a>
                        </div>
                    </div>
                    <div class="col30 assigned-services-info">
                        <h3>ASSIGNED SERVICES : {{project.services.length}}</h3>
                        <div class="icons">
                            <a href="javascript:;" ng-repeat="service in project.services">
                                <span class="center-image"></span><img class="center-image-img" ng-src="{{service.icon}}"/>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col26 assigned-user-info">
                        <h3>ASSIGNED USER : {{project.users.length}}</h3>
                        <div class="icons">
                            <div class="icon-boxes" ng-repeat="user in project.users">
                                <a href="javascript:;">
                                    <span class="center-image"></span><img class="center-image-img" gravatar-src="item.email"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-box">
                <a ui-sref="base.newProject" class="add-btn icon-add"><i></i><span>ADD NEW PROJECT</span></a>
            </div>
            <!-- end .btn-box -->
            <span class="clearfix"></span>
        </div>
        <!-- end .tab-content -->
    </div>
    <!-- end .projects-box -->

    <div class="recent-orders-box column-box">
        <div class="titles-box">
            <h2>
                <strong>RECENT ORDERS</strong>
                <a href="javascript:;" class="gray-link fr">View All</a>
            </h2>

            <div class="solution-menu right-position80">
                <a href="javascript:;" class="icon-solution current" drop-down><span>{{manageValues.ordersDropdown[0]}}</span><i></i></a>
                <div class="drop-down-box hide">
                    <span class="icon-arrow"></span>
                    <ul>
                        <li ng-repeat="item in manageValues.ordersDropdown.slice(1)"><a href="javascript:">{{item}}</a></li>
                    </ul>
                </div>
                <!-- end .drop-down-box -->
            </div>

            <div class="titles-border-bar">
                <span class="blues width147"></span>
                <span class="whites width3"></span>
            </div>
        </div>
        <!-- end .titles-box -->

        <orders-table orders="recentOrders"></orders-table>
        <!-- end .table-box -->
    </div>
    <!-- end .recent-orders-box -->

    <div class="recent-added-user-box column-box">
        <div class="titles-box">
            <h2>
                <strong>RECENT ADDED USER</strong>
                <a href="javascript:;" class="gray-link fr">View All</a>
            </h2>

            <div class="solution-menu right-position80">
                <a href="javascript:;" class="icon-solution current" drop-down><span>{{manageValues.usersDropdown[0]}}</span><i></i></a>
                <div class="drop-down-box hide">
                    <span class="icon-arrow"></span>
                    <ul>
                        <li ng-repeat="item in manageValues.usersDropdown.slice(1)"><a href="javascript:">{{item}}</a></li>
                    </ul>
                </div>
                <!-- end .drop-down-box -->
            </div>

            <div class="titles-border-bar">
                <span class="blues width170"></span>
                <span class="whites width3"></span>
            </div>
        </div>
        <!-- end .titles-box -->

        <div class="recent-added-users" fix-boxes-height>

            <div class="boxes" ng-repeat="user in recentUsers">
                <div class="icon-boxes">
                    <a href="javascript:;">
                        <span class="center-image"></span><img class="center-image-img" gravatar-src="item.email"/>
                    </a>
                </div>
                <h3><a href="javascript:;">{{user.name}}</a></h3>
                <p>
                    <span class="row-box font-weight">Allowed For</span>
                    <span class="row-box">{{user.allowed.join(", ")}}</span>
                </p>
            </div>
            <div class="btn-new-box">
                <div class="btn-boxes">
                    <a href="javascript:;" class="add-btn icon-add">
                        <i></i><span>ADD NEW USER</span>
                    </a>
                </div>
            </div>
            <!-- end .btn-new-box -->

            <span class="clearfix"></span>

        </div>
        <!-- end .container -->
    </div>
    <!-- end .recent-added-user-box -->
    </div>

