<div class="marketplace-page main-content" fix-sidebar set-width>

    <ng-include src="'/partials/common/search-marketplace.html'"></ng-include>

    <marketplace-items items="blueprintServices">
        <h2><strong class="blue-texts">BLUE PRINT</strong><a href="javascript:;" class="info-footer"><i class="fa fa-info-circle"></i></a></h2>
        <p>Choose a package of sample code and services, or start from scratch</p>
    </marketplace-items>

    <marketplace-items items="webServices">
        <h2><strong class="orange-texts">WEB SERVICES</strong><a href="javascript:;" class="info-footer"><i class="fa fa-info-circle"></i></a></h2>
        <p>Deliver new web and apps</p>
    </marketplace-items>

    <marketplace-items items="applicationServices">
        <h2><strong class="green-texts">SERVICE WIZARD</strong><a href="javascript:;" class="info-footer"><i class="fa fa-info-circle"></i></a></h2>
        <p>Deliver new web and apps</p>
    </marketplace-items>


    <div class="banner-transverse top60">
        <div class="containers">
            <div class="boxs">
                <div class="left-box fl">
                    <div class="icon-map-help"><i></i></div>
                    <div class="texts-box">
                        <h3>NEED HELP BUILDING CLOUD SOLUTION ?</h3>
                        <p>
                            Confused where to start? We’re here to help,
                            simply tell us what is you need
                        </p>
                      <span class="links-box">
                        <a href="javascript:" class="links-right-arrow"><span>Get Started</span><i></i></a>
                      </span>
                    </div>
                </div>
                <!-- end .left-box -->
                <div class="right-box fr">
                    <span class="shape-photo"></span>
                </div>
                <!-- end .right-box -->
            </div>
        </div>
    </div>
    <!-- end .banner-transverse -->
</div>
