<div class="add-project-page main-content left-184" fix-sidebar set-width>
    <ng-include src="'/partials/common/solution-search.html'"></ng-include>

    <div class="contents">
        <hr class="shadow-top">

        <div class="titles-box">
            <h2>
                <span class="icon-projects"><i></i></span>
                <strong class="orange-texts">ADD PROJECT DETAILS</strong>
            </h2>
            <div class="titles-border-bar">
                <span class="blues width218"></span>
                <span class="whites width3"></span>
            </div>
        </div>
        <!-- end .titles-box -->

        <div class="project-box box-shadow">
            <div class="app-project">
                <div class="col40">
                    <div class="icon-boxes icon-boxes-2">
                        <a href="javascript:;"><img src="/images/assets/projects/1.png"></a>
                    </div>
                    <h3>COMPANY APP PROJECT</h3>
                    <p><a href="http://companyapp.clouddealer.com">companyapp.clouddealer.com</a></p>
                    <div class="bottom-icons-box">
                        <div class="ok-state fl">
                            <span class="icon-green-ok"></span>
                            <span class="texts">Running</span>
                        </div>
                        <div class="icons-gray-box fl">
                            <a href="javascript:;" class="icon-chart"></a>
                            <a href="javascript:;" class="icon-detailed"></a>
                            <a href="javascript:;" class="icon-reload"></a>
                            <a href="javascript:;" class="icon-set"></a>
                        </div>
                    </div>
                </div>
                <div class="col21">
                    <h4>
                        <span>Account Number</span><br/>
                        <span>78564</span>
                    </h4>
                </div>
                <div class="col20">
                    <p>Budget</p>
                    <div class="price">$ 15.000,00</div>
                </div>
                <div class="col18">
                    <p>Resources</p>
                    <div class="size">256 MB</div>
                </div>
            </div>
        </div>
        <!-- end .app-project-box -->

        <div class="project-box">
            <form class="form-horizontal padded horizontal-spanning" role="form">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-9">
                        <input ng-model='project.name' class="form-control" id="name" placeholder="Project Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="budget" class="col-sm-2 control-label">Budget</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" id="budget" ng-model='project.budget'>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="start-date" class="col-sm-2 control-label">Start Date</label>
                    <div class="col-sm-5">
                        <datepicker id="start-date" ng-model="project.start_date" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
                    </div>
                </div>

                <div class="form-group">
                    <label for="end-date" class="col-sm-2 control-label">End Date</label>
                    <div class="col-sm-5">
                        <datepicker id="end-date" ng-model="project.end_date" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
                    </div>
                </div>

                <div class="form-group" ng-repeat="answer in project.project_answers">
                    <span ng-switch on="answer.project_question.field_type">
                        <span ng-switch-when="text">
                            <nf-form name="projectQuestionForm">
                                <div class="form-group">
                                    <label for="{{answer.project_question.id}}" class="col-sm-2 control-label">{{answer.project_question.question}}</label>
                                    <div class="col-sm-9">
                                        <input ng-model='answer.answer' class="form-control" id="{{answer.project_question.id}}" placeholder="{{answer.project_question.help_text}}">
                                    </div>
                                </div>
                            </nf-form>
                        </span>
                        <span ng-switch-when="select_option">
                            <nf-form name="projectQuestionForm">
                                <div class="form-group">
                                    <label for="{{answer.project_question.id}}" class="col-sm-2 control-label">{{answer.project_question.question}}</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-model="answer.answer" ng-options="option for option in answer.project_question.options">
                                            <option value="">Please select an option.</option>
                                        </select>
                                    </div>
                                </div>
                            </nf-form>
                        </span>
                    </span>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-11">
                        <button type="submit" class="btn btn-default" ng-click="newProjectCtrl.createProject()">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end .main-content -->

    <span class="clearfix"></span>
</div>
