<div class="project-detail-page main-content" fix-sidebar set-width>

    <div class="contents">
        <hr class="shadow-top"/>

        <div class="project-box box-shadow">
            <div class="app-project">
                <div class="col40">
                    <div class="icon-boxes"><a href="javascript:;"><img ng-src="{{project.icon}}"/></a></div>
                    <h3>{{project.name | uppercase}}</h3>

                    <p><a href="{{project.url}}">{{project.domain}}</a></p>

                    <div class="bottom-icons-box">
                        <div class="fl" ng-class="{'ok-state': project.state_ok, 'error-state' : !project.state_ok }">
                            <span ng-class="{'icon-green-ok': project.state_ok, 'icon-red-error' : !project.state_ok }"></span>
                            <span class="texts">{{project.state}}</span>
                        </div>
                        <div class="icons-gray-box fl">
                            <a href="javascript:;" class="icon-chart"></a>
                            <a href="javascript:;" class="icon-detailed"></a>
                            <a href="javascript:;" class="icon-reload"></a>
                            <a href="javascript:;" class="icon-set"></a>
                        </div>
                    </div>
                </div>
                <div class="col21">
                    <h4>
                        <span>Account Number</span><br/>
                        <span>{{project.account_number}}</span>
                    </h4>
                </div>
                <div class="app-budget col20">
                    <p>Budget</p>

                    <div class="price">{{project.budget | currency}}</div>
                </div>
                <div class="app-resources col18">
                    <p>Resources</p>

                    <div class="size">
                        <table border="0">
                            <tbody>
                            <tr>
                                <td class="c1 r1">CPU &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{project.cpu}}</td>
                                <td class="c2 r1">RAM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{project.ram}}</td>
                            </tr>
                            <tr>
                                <td class="c1 r2">HDD</td>
                                <td class="c2 r2">{{project.hdd}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end .app-project-box -->

        <div class="order-history-box column-box" ng-if="project.isApproved()">
            <div class="titles-box">
                <h2>
                    <strong>ORDER HISTORY</strong>
                    <a href="javascript:;" class="blue-link fr">VIEW ALL</a>
                </h2>

                <div class="titles-border-bar">
                    <span class="blues width157"></span>
                    <span class="whites width3"></span>
                </div>
            </div>
            <!-- end .titles-box -->

            <orders-table orders="project.order_history"></orders-table>
        </div>
        <!-- end .order-history-box -->

        <div class="services-box column-box" ng-if="project.isApproved()">
            <div class="titles-box">
                <h2>
                    <strong>SERVICES ({{project.services.length}})</strong>
                    <switch-view-buttons
                        grid-view="'.container-grid-project-detail-services'"
                        list-view="'.container-list-project-detail-services'"></switch-view-buttons>
                </h2>

                <div class="titles-border-bar">
                    <span class="blues width112"></span>
                    <span class="whites width3"></span>
                </div>
            </div>
            <!-- end .titles-box -->

            <div class="container-grid container-grid-project-detail-services content-box-featured">
                <service-box ng-repeat="service in project.services" service="service"></service-box>
                <div class="btn-new-box">
                    <div class="boxs">
                        <a class="add-btn icon-add"><i></i><span>ADD NEW SERVICES</span></a>
                    </div>
                </div>
            </div>
            <!-- end .container-grid -->

            <div class="container-list container-list-project-detail-services content-box-featured hide">
                <div class="boxes" ng-repeat="item in project.services">
                    <div class="boxes-box col15">
                <span class="icon-boxes orange-top-border">
                    <a href="javascript:;"><span class="center-image"></span><img class="center-image-img"
                                                                                  ng-src="{{item.iconBig}}"/></a></span>
                        </span>
                    </div>
                    <div class="texts-box col30">
                        <span class="titles"><a ui-sref="base.service({serviceId: item.id})">{{item.name}}</a></span>
                        <span class="texts">{{item.source}}</span>
                    </div>
                    <div class="texts-box col20">
                        <span class="titles">Type</span>
                        <span class="texts">{{item.type | uppercase}}</span>
                    </div>
                    <div class="texts-box col35">
                        <span class="titles">Plan Started From</span>
                        <span class="texts">{{item.startsFrom | currency}} {{item.startsFromSuffix}}</span>
                    </div>
                </div>

                <div class="btn-new-box fr">
                    <a class="add-btn icon-add"><i></i><span>ADD NEW SERVICES</span></a>
                </div>
                <span class="clearfix"></span>
            </div>
            <!-- end .container-list -->
        </div>
        <!-- end .services-box -->

        <div class="users-column-box column-box" ng-if="project.isApproved()">
            <div class="titles-box">
                <h2>
                    <strong>USERS ({{project.users.length}})</strong>

                    <switch-view-buttons
                        grid-view="'.container-grid-users'"
                        list-view="'.users-list'"></switch-view-buttons>
                </h2>

                <div class="titles-border-bar">
                    <span class="blues width112"></span>
                    <span class="whites width3"></span>
                </div>
            </div>
            <!-- end .titles-box -->

            <div class="users-list hide">
                <div class="container-list">
                    <div class="boxes" ng-repeat="item in project.users">
                        <div class="boxes-box col15">
                        <span class="icon-boxes">
                            <span class="center-image"></span><img class="center-image-img"
                                                                   gravatar-src="item.email"/></a>
                        </span>
                        </div>
                        <div class="texts-box col20">
                            <span class="titles"><a href="javascript:;">{{item.name}}</a></span>
                        </div>
                        <div class="texts-box col28">
                            <span class="gray-texts">Allowed For</span>
                            <span class="texts">{{item.allowed.join(", ")}}</span>
                        </div>
                        <div class="texts-box col20">
                            <a href="javascript:;" class="blue-btn height30 font12">EDIT</a>
                        </div>
                        <div class="texts-box col17">
                            <a href="javascript:;" class="light-blue-btn icon-less-btn height30"><i></i></a>
                        </div>
                    </div>
                    <div class="btn-box fr">
                        <a class="add-btn icon-add"><i></i><span>ADD NEW USER</span></a>
                    </div>
                    <span class="clearfix"></span>
                    <!-- end .btn-box -->
                </div>
                <!-- end .container-list -->
            </div>

            <div class="container-grid container-grid-users content-box-featured">

                <div class="boxes" ng-repeat="item in project.users">
                <span class="icon-boxes orange-top-border">
                    <a href="javascript:;"><span class="center-image"></span><img class="center-image-img"
                                                                                  gravatar-src="item.email"/></a>
                </span>
                    <span class="titles"><span>{{item.name}}</span></span>
                    <span class="btn-box"><a href="javascript:">VIEW MORE</a></span>
                </div>
                <div class="btn-new-box">
                    <div class="boxs">
                        <a href="javascript:;" class="add-btn icon-add"><i></i><span>ADD NEW USER</span></a>
                    </div>
                </div>
            </div>
            <!-- end .container-grid -->
        </div>
        <!-- end .users-column-box -->

        <div class="project-details-box column-box">
            <div class="titles-box">
                <h2>
                    <strong>PROJECT DETAILS</strong>
                </h2>

                <div class="titles-border-bar">
                    <span class="blues width137"></span>
                    <span class="whites width3"></span>
                </div>
            </div>
            <!-- end .titles-box -->

            <div class="table-container table-box">
                <table class="table-data">
                    <colgroup>
                        <col class="col40">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="left-text">Requestor Name</td>
                        <td class="min-value">{{project.details.requestor_name}}</td>
                    </tr>
                    <tr>
                        <td class="left-text">Requestor Date</td>
                        <td class="min-value">{{project.details.requestor_date}}</td>
                    </tr>
                    <tr>
                        <td class="left-text">Team Name</td>
                        <td class="min-value">{{project.details.team_name}}</td>
                    </tr>
                    <tr>
                        <td class="left-text">Project Name</td>
                        <td class="min-value">{{project.name}}</td>
                    </tr>
                    <tr>
                        <td class="left-text">Charge Number</td>
                        <td class="min-value">{{project.details.charge_number}}</td>
                    </tr>
                    <tr>
                        <td class="left-text">NTE budget</td>
                        <td class="min-value">{{project.details.nte_budget | currency}}</td>
                    </tr>
                    <tr>
                        <td class="left-text">Project Owner</td>
                        <td class="min-value">{{project.details.project_owner}}</td>
                    </tr>
                    <tr>
                        <td class="left-text">Sr. Associate</td>
                        <td class="min-value">{{project.details.sr_associate}}</td>
                    </tr>
                    <tr>
                        <td class="left-text">Principal</td>
                        <td class="min-value">{{project.details.principal}}</td>
                    </tr>
                    <tr>
                        <td class="left-text">Estimated Project Termination Date</td>
                        <td class="min-value">{{project.details.estimated_termination_date}}</td>
                    </tr>
                    <tr>
                        <td class="left-text">Data Type</td>
                        <td class="min-value">{{project.details.data_type}}</td>
                    </tr>
                    <tr>
                        <td class="left-text">Others</td>
                        <td class="min-value">{{project.details.others}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- end .table-box -->
            <div class="bottom-btn-box">
                <a ui-sref="base.newProject()" class="blue-btn height30 font12 fr">EDIT</a>
            </div>
        </div>
        <!-- end .project-details-box -->
    </div>
</div>
