<div class="page service-page main-content" set-width>
    <div class="content box-content">

        <div class="page-title">
            <div class="page-title-icon">
                <img ng-src="/images/assets/{{serviceCtrl.service.product.img}}"/>
            </div>
            <div class="page-title-text">
                <h3>{{serviceCtrl.service.project.name}} | {{serviceCtrl.service.product.name}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" ng-switch="previousState">
                <a ng-switch-when="base.project" ui-sref="base.project(previousStateParams)" class="btn btn-link">
                    <i class="fa fa-long-arrow-left"></i>
                    Back to Project
                </a>
                <a ng-switch-default ui-sref="base.orders({id: serviceCtrl.service.order_id})" class="btn btn-link">
                    <i class="fa fa-long-arrow-left"></i>
                    Back to Order
                </a>
            </div>
        </div>

        <section-header name="Order Details">

            <div class="table-box">
                <div class="data-box">

                    <table st-table="rowCollection" class="table table-responsive table-striped">
                        <tbody>
                        <tr>
                            <td class="blue-texts font15">Order Item ID</td>
                            <td class="item-texts">{{serviceCtrl.service.id}}</td>
                        </tr>
                        <tr>
                            <td class="blue-texts font15">Created At</td>
                            <td class="item-texts">{{serviceCtrl.service.created_at | date:'medium'}}</td>
                        </tr>
                        <tr>
                            <td class="blue-texts font15">Updated At</td>
                            <td class="item-texts">{{serviceCtrl.service.updated_at | date:'medium'}}</td>
                        </tr>
                        <tr>
                            <td class="blue-texts font15">Cloud</td>
                            <td class="item-texts">{{serviceCtrl.service.cloud_id}}</td>
                        </tr>
                        <tr>
                            <td class="blue-texts font15">Product</td>
                            <td class="item-texts">{{serviceCtrl.service.product.name}}</td>
                        </tr>
                        <tr>
                            <td class="blue-texts font15">Project</td>
                            <td class="item-texts">{{serviceCtrl.service.project.name}}</td>
                        </tr>
                        <tr>
                            <td class="blue-texts font15">Status</td>
                            <td class="item-texts">{{serviceCtrl.service.provision_status}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section-header>

        <section-header name="Service">
            <div class="table-box">
                <div class="data-box">

                    <table st-table="rowCollection" class="table table-responsive table-striped">
                        <tbody>
                        <tr>
                            <td class="blue-texts font15">Pricing</td>
                            <td class="item-texts">{{serviceCtrl.service.total | currency}}</td>
                        </tr>
                        <tr>
                            <td class="blue-texts font15">Hostname</td>
                            <td class="item-texts">{{serviceCtrl.service.hostname}}</td>
                        </tr>
                        <tr>
                            <td class="blue-texts font15">IP Address</td>
                            <td class="item-texts">{{serviceCtrl.service.ip_address}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section-header>

        <section-header name="Manage">
            <div class="col-sm-6 text-left">
              <a type="button" class="btn btn-danger" ng-click="serviceCtrl.stopService()">Stop Service</a>
              <a type="button" class="btn btn-primary" ng-disabled="serviceCtrl.startService()">Start Service</a>
            </div>
        </section-header>

        <section-header name="Logs">
            <div class="col-sm-6 text-left">
              Service Logs Go Here.
            </div>
        </section-header>
    </div>
</div>
