<div class="service-detail-page main-content" set-width>

<div class="service-detail-container">
<div class="right-bar">

    <div class="build-custom-box">
        <h2>
            BUILD CUSTOM
            CLOUD SOLUTION
        </h2>
        <p>
            Build your custom solution
            project guided by expert
        </p>
        <a href="javascript:" class="links-right-arrow"><span>Get Started</span><i></i></a>
        <span class="build-custom-img"></span>
    </div>
    <!-- end .build-custom-box -->

    <div class="banner-vertical">
        <h2>
            NEED HELP<br/>
            BUILDING<br/>
            CLOUD SOLUTION ?
        </h2>
        <p>
            Confused where to start? We’re
            here to help, simply tell us what
            is you need
        </p>
        <a href="javascript:" class="links-right-arrow"><span>Get Started</span><i></i></a>
               <span class="shape-banner-img">
                 <span class="icon-map-help"><i></i></span>
               </span>
    </div>
    <!-- end .banner-vertical -->
</div>
<!-- end .right-bar -->

<div class="contents">
    <div class="titles-box">
        <h2>
            <strong>SERVICE DETAIL</strong>
        </h2>
        <div class="titles-border-bar">
            <span class="blues width137"></span>
            <span class="whites width3"></span>
        </div>
    </div>
    <!-- end .titles-box -->

    <div class="deail-contents">
        <div class="deail-info">
            <div class="container-grid">
                <div class="boxes">
                    <span class="icon-boxes green-top-border">
                        <span class="center-image"></span><img class="center-image-img" ng-src="{{service.iconBig}}"/>
                    </span>
                </div>
            </div>
            <div class="texts">
                <h3>{{service.source | uppercase}}</h3>
                <dl>
                    <dt>PUBLISH DATE</dt>
                    <dd>{{service.publishDate}}</dd>
                    <dt>TYPE</dt>
                    <dd>{{service.type | uppercase}}</dd>
                </dl>
                <a class="btn btn-primary">VIEW DOCS</a>
            </div>
        </div>
        <!-- end .deail-info -->

        <div class="deail-boxs">
            <div class="top-texts">
                <h3><strong class="green-texts">{{service.name | uppercase}}</strong><a href="javascript:;" class="info-footer"><i class="fa fa-info-circle"></i></a></h3>
                <p>
                    {{service.fullDescription}}
                </p>
                <div class="btn-box">
                    <a href="javascript:" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
            <!-- end .top-texts -->

            <div class="table-texts">
                <h3>Pick a plan</h3>
                <table class="table-data">
                    <colgroup>
                        <col class="col20">
                        <col class="col40">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Plan</th>
                        <th>Features</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(name, data) in service.plans">
                        <td>{{name}}</td>
                        <td>
                            <span ng-repeat="item in data.features">{{item}}<br/></span>
                        </td>
                        <td>
                            <span ng-repeat="item in data.price">{{item}}<br/></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- end .table-texts -->

            <div class="function-tab-box">
                <div class="tabs service-detail-tabs">
                    <ul>
                        <li ng-class="{active: tab == 'feature'}"><a href="javascript:" ng-click="serviceCtrl.setTab('feature')">FEATURE</a><span class="border-spacing"></span></li>
                        <li ng-class="{active: tab == 'specification'}"><a href="javascript:" ng-click="serviceCtrl.setTab('specification')">SPECIFICATION</a><span class="border-spacing"></span></li>
                    </ul>
                </div>
                <!-- end .tabs -->

                <div class="tab-content feature-content" ng-bind-html="service.feature" ng-show="tab == 'feature'">
                </div>

                <div class="tab-content specification-content"  ng-bind-html="service.specification"  ng-show="tab == 'specification'">
                </div>

                <!-- end .tab-content -->
            </div>
            <!-- end .function-tab-box -->
        </div>
        <!-- end .deail-boxs -->
        <span class="clearfix"></span>
    </div>
    <!-- end .deail-contents -->


</div>
<!-- end .contents -->
<span class="clearfix"></span>
</div>
<!-- end .service-detail-container -->
<span class="clearfix"></span>
</div>
