# Ignore OS
.DS_Store

# ignore IDE
.idea

# ignore bower
bower_components

# ignore node modules, npm artifacts
node_modules
npm-debug.log

# ignore cloud9-specific files
.c9/metadata/**
.c9/.nakignore
.c9/project.settings

# build
public/
.sass-cache/
