@charset "utf-8";
/* CSS Document */

/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;
	float:left;
	margin-top:1px;
	margin-right: 6px;
}
a.jqTransformCheckbox {
	background: url(../i/forms/checkbox.png) no-repeat center top;
	vertical-align: middle;
	height: 17px;
	width: 17px;
	overflow: hidden;
	display:block;/*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: center bottom;}

/* -------------
 * Selects
 * ------------- */
.selectsContainer {
  font-family:"proximanova_regular";
  font-size: 13px;
  color: #8e9195;
  margin: 0;
}
.selectsContainer .jqTransformSelectWrapper {
  position: relative;
  height: 35px;
  background: url(../i/forms/select-left.png) no-repeat 0 0;
}
.selectsContainer .jqTransformSelectWrapper a.jqTransformSelectOpen {
  display: block;
  position: absolute;
  right: 0;
  width: 25px;
  height: 35px;
  background: url(../i/forms/select-right.png) no-repeat 0 0;
}
.selectsContainer .jqTransformSelectWrapper div span {
  font-size: 13px;
  color: #797b7e;
  float: none;
  position: absolute;
  white-space: nowrap;
  height: 35px;
  line-height: 35px;
  text-indent: 20px;
  overflow: hidden;
  cursor: pointer;
}
.selectsContainer .jqTransformSelectWrapper ul {
  position: absolute;
  top: 35px;
  left: 0px;
  list-style: none;
  background-color: #FFF;
  border: solid 1px #d0d0d0;
  border-top: 0;
  display: none;
  margin: 0px;
  padding: 0px;
  height: 150px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: auto;
  overflow-y: auto;
  z-index: 1000;
  padding-top: 4px;
  padding-bottom: 4px;
}
.selectsContainer .jqTransformSelectWrapper ul a {
  display: block;
  text-indent: 10px;
  text-decoration: none;
  line-height: 28px;
  color: #333;
  background-color: #FFF;
  font-size: 13px;
}
.selectsContainer .jqTransformSelectWrapper ul a.selected {
  color: #333;
}
.selectsContainer .jqTransformSelectWrapper ul a:hover,
.selectsContainer .jqTransformSelectWrapper ul a.selected:hover {
  background: #2E96DB;
  text-decoration: none;
  color: #fff;
}
.selectsContainer .whiteSelectBg {
  background: url(../i/forms/select-left.png) no-repeat 0 -35px;
}
.selectsContainer .whiteSelectBg a.jqTransformSelectOpen {
  background: url(../i/forms/select-right.png) no-repeat 0 -35px;
}
/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {
  display: none;
}
