<div set-width>
  <div class="content">

    <div class="table-box">
      <div class="title-box">
        <h2>
          <strong>Add Project Question</strong>
        </h2>

        <div class="titles-border-bar">
          <span class="blues width137"></span>
          <span class="whites width3"></span>
        </div>
      </div>
    </div>

    <project-question-form button-label="'Submit'" project-question="projectQuestion" submit-function="submitProject()">
    </project-question-form>

  </div>
</div>