<div set-width>
  <div class="page">
    <div class="page-title">
      <div class="page-title-text">
        <h3>Project Questions</h3>
      </div>
    </div>

    <div class="table-box">
      <div class="title-box">
        <h2>
          <strong>QUESTION</strong>
        </h2>

        <div class="titles-border-bar">
          <span class="blues width137"></span>
          <span class="whites width3"></span>
        </div>
      </div>
    </div>

    <div>
      <a ui-sref="base.admin.projects.project_questions">Take me back to the questions.</a>
    </div>

    <br/>

    <project-question-form button-label="'Submit'" project-question="projectQuestion" submit-function="submitProject()">
    </project-question-form>

  </div>
</div>