<div fix-sidebar set-width>
  <div class="page">
    <div class="page-title">
      <div class="page-title-text">
        <h3>Project Questions</h3>
      </div>
    </div>

    <div class="table-box">
      <div class="title-box">
        <h2>
          <strong>QUESTIONS</strong>
        </h2>

        <div class="titles-border-bar">
          <span class="blues width137"></span>
          <span class="whites width3"></span>
        </div>
      </div>
      <!-- end .titles-box -->

      <div class="table-container table-box">
        <table st-table="rowCollection" class="table table-responsive table-data">
          <colgroup>
            <col class="col40">
            <col>
          </colgroup>
          <tbody>
          <tr>
            <th>Question</th>
            <th>Type</th>
            <th>Help Text</th>
            <th>Load Order</th>
            <th>Options</th>
            <th>Required</th>
            <th>Actions</th>
          </tr>
          <tr ng-repeat="projectQuestion in projectQuestions">
            <td>{{projectQuestion.question}}</td>
            <td>{{projectQuestion.field_type}}</td>
            <td>{{projectQuestion.help_text}}</td>
            <td>{{projectQuestion.load_order}}</td>
            <td>{{projectQuestion.options}}</td>
            <th>{{projectQuestion.required}}</th>
            <td>
              <a class="fa fa-edit" ng-click="editProjectQuestion(projectQuestion)"></a>
              <a class="fa fa-trash-o" ng-click="deleteProjectQuestion(projectQuestion)"></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- end .table-box -->

      <br/>

      <div>
        <a class="fa fa-plus" ui-sref="base.admin.projects.new_project_questions"> Add question</a>
      </div>
    </div>
  </div>
</div>