<div class="add-services-modal">
    <div class="modal-header">
        <h3 class="modal-title">Add Service</h3>
    </div>
    <div class="modal-body">
        <div class="content box-content">
            <section-header ng-repeat="category in projectServicesCtrl.categories"
                            name="{{category.name}}"
                            description="{{category.description}}"
                            view-type="list-view"
                            ng-show="category.products.length > 0"
            />
                <product-box class="product-box" ng-repeat="product in category.products" product="product">
                    <a type="button" class="btn btn-primary" ui-sref="base.marketplace.show({id: product.id})" target="_blank">View More</a>
                    <a type="button" class="btn btn-primary" ng-click="projectServicesCtrl.addToCart(product)">Add to Cart ({{projectServicesCtrl.cartCount(projectServicesCtrl.project.id, product.id)}})</a>
                </product-box>
            </section-header>
        </div>
    </div>
    <div class="modal-footer">
        <a type="button" class="btn btn-warning" ng-click="cancel()">Close</a>
    </div>
</div>