<div class="page edit-project-page main-content" set-width>
  <div class="content box-content">

  <section-header name="Edit Project">
    <div class="row">
      <div class="col-sm-6">

        <a ui-sref="base.project.view({projectId: project.id})" class="btn btn-link">
          <i class="fa fa-long-arrow-left"></i>
          Back to Project
        </a>
      </div>
    </div>

    <project-form button-label="'UPDATE'" project="project" questions="questions" submit-function="updateProject()">
    </project-form>
  </section-header>

  </div>
</div>