<div class="left-184" fix-sidebar set-width>
    <div class="page">

        <div class="table-box">

            <div class="title-box">
                <h2>
                    <strong>CREATE PROJECT</strong>
                </h2>
                <div class="titles-border-bar">
                    <span class="blues width218"></span>
                    <span class="whites width3"></span>
                </div>
            </div>
        </div>
            <!-- end .titles-box -->

        <div>
            <project-form button-label="'Create'" project="project" questions="questions" submit-function="createProject()">
            </project-form>
        </div>
    </div>

    <!-- end .main-content -->

    <span class="clearfix"></span>
</div>
