<div class="project-detail-page main-content" fix-sidebar set-width>

    <div class="banner">

        <!-- Pending Approval Banner -->

        <div class="top-notice-banner" ng-if="!project.isApproved()">
            <div class="app-project">
                <div class="col40">
                    <div class="project-approval-icon">
                        <i class="fa fa-asterisk"></i>
                    </div>
                    <h3>Project is Pending</h3>
                    <div><a class="btn btn-primary">Approve</a></div>
                </div>
            </div>
        </div>

    </div>


    <div class="page">

        <!-- Title & Url -->

        <div class="page-title">
            <div class="page-title-icon">
                <img ng-src="{{project.icon}}"/>
            </div>
            <div class="page-title-text">
                <h3>{{project.name}}</h3>
            </div>
        </div>

        <!-- Metrics - Status, Budget, CPU, HDD, RAM -->

        <div class="info-boxes">
            <div class="info-box col18">
                <div class="info-box-icon fa fa-check-square-o"></div>
                <div class="info-box-data">
                    <div class="info-box-title">
                        Status
                    </div>
                    <div class="info-box-text">
                        {{project.state}}
                    </div>
                </div>
            </div>
            <div class="info-box-split"></div>
            <div class="info-box col18">
                <div class="info-box-icon fa fa-money"></div>
                <div class="info-box-data">
                    <div class="info-box-title">
                        Budget
                    </div>
                    <div class="info-box-text">
                        {{project.budget ? "$" + project.budget : "N/A"}}
                    </div>
                    <div class="info-box-percent-outer">
                        <div class="info-box-percent-inner" ng-style="{ width: projectCtrl.getBudgetData().usedPercent + '%' }"></div>
                    </div>
                </div>
            </div>
            <div class="info-box-split"></div>
            <div class="info-box col18">
                <div class="info-box-icon fa fa-desktop"></div>
                <div class="info-box-data">
                    <div class="info-box-title">
                        CPU
                    </div>
                    <div class="info-box-text">
                        {{project.cpu}} Cores
                    </div>
                    <div ng-init="percentCpu = 90" class="info-box-percent-outer">
                        <div class="info-box-percent-inner" ng-style="{ width: percentCpu + '%' }"></div>
                    </div>
                </div>
            </div>
            <div class="info-box-split"></div>
            <div class="info-box col18">
                <div class="info-box-icon fa fa-database"></div>
                <div class="info-box-data">
                    <div class="info-box-title">
                        HDD
                    </div>
                    <div class="info-box-text">
                        {{project.hdd}}
                    </div>
                    <div ng-init="percentHdd = 90" class="info-box-percent-outer">
                        <div class="info-box-percent-inner" ng-style="{ width: percentHdd + '%' }"></div>
                    </div>
                </div>
            </div>
            <div class="info-box-split"></div>
            <div class="info-box col18">
                <div class="info-box-icon fa fa-tachometer"></div>
                <div class="info-box-data">
                    <div class="info-box-title">
                        RAM
                    </div>
                    <div class="info-box-text">
                        {{project.ram}}
                    </div>
                    <div ng-init="percentRam = 90" class="info-box-percent-outer">
                        <div class="info-box-percent-inner" ng-style="{ width: percentRam + '%' }"></div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Problem Alerts -->

        <ng-include src="'/partials/common/problem-alerts.html'"></ng-include>

        <!-- Order History -->

        <ng-include src="'/partials/common/orders-table.html'"></ng-include>

        <!-- Services -->

        <script type="text/ng-template" id="projects/add-services-modal.html">
            <div class="add-services-modal">
                <div class="modal-header">
                    <h3 class="modal-title">Add Service</h3>
                </div>
                <div class="modal-body">
                    <products-list ng-repeat="category in projectServicesCtrl.categories" category="category" hide-empty="true" view-type="list-view" allow-view-type-toggle="false">
                      <product-box class="product-box" ng-repeat="product in category.products" product="product">
                        <a ui-sref="base.products.show({id: product.id})">View More</a>
                        <a ng-click="projectServicesCtrl.addToCart()">Add to Cart</a>
                      </product-box>
                    </products-list>

                </div>
                <div class="modal-footer">
                    <button ng-class="updating ? 'btn btn-primary disabled' : 'btn btn-primary'" ng-click="ok()">{{updating ? 'Adding ...' : 'Add'}}</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </script>
        <div class="table-box" ng-if="project.isApproved()">
            <div class="title-box">
                <h2>
                    <strong>SERVICES ({{project.services.length}})</strong>
                    <switch-view-buttons
                            grid-view="'.container-grid-project-detail-services'"
                            list-view="'.container-list-project-detail-services'"></switch-view-buttons>
                </h2>

                <div class="titles-border-bar">
                    <span class="blues width112"></span>
                    <span class="whites width3"></span>
                </div>
            </div>
            <!-- end .titles-box -->

            <div class="container-grid container-grid-project-detail-services content-box-featured">
                <service-box ng-repeat="service in project.services" service="service"></service-box>
                <div class="btn-new-box">
                    <div class="boxs">
                        <a class="add-btn icon-add" ng-click="projectCtrl.openAddServicesModal()"><i></i><span>ADD NEW SERVICES</span></a>
                    </div>
                </div>
            </div>
            <!-- end .container-grid -->

            <div class="container-list container-list-project-detail-services content-box-featured hide">
                <div class="boxes" ng-repeat="item in project.services">
                    <div class="boxes-box col15">
                            <span class="icon-boxes orange-top-border">
                                <a><span class="center-image"></span><img class="center-image-img" ng-src="{{item.iconBig}}"/></a></span>
                        </span>
                    </div>
                    <div class="texts-box col30">
                        <span class="titles"><a ui-sref="base.service({serviceId: item.id})">{{item.name}}</a></span>
                        <span class="texts">{{item.source}}</span>
                    </div>
                    <div class="texts-box col20">
                        <span class="titles">Type</span>
                        <span class="texts">{{item.type | uppercase}}</span>
                    </div>
                    <div class="texts-box col35">
                        <span class="titles">Plan Started From</span>
                        <span class="texts">{{item.startsFrom | currency}} {{item.startsFromSuffix}}</span>
                    </div>
                </div>

                <div class="btn-new-box fr">
                    <a class="add-btn icon-add"><i></i><span>ADD NEW SERVICES</span></a>
                </div>
                <span class="clearfix"></span>
            </div>
            <!-- end .container-list -->
        </div>


        <!-- Users -->

        <script type="text/ng-template" id="projects/users-modal.html">
            <div class="new-user-modal">
                <div class="modal-header">
                    <h3 class="modal-title">Add Users</h3>
                </div>
                <div class="modal-body">
                    <p class="section-header">
                        Enter user's name or email:
                    </p>

                    </br>

                    <angucomplete id="members"
                                  placeholder="User Search"
                                  pause="400"
                                  selectedobject="lastSelected"
                                  url="{{searchURL}}"
                                  titlefield="first_name,last_name"
                                  descriptionfield="email"
                                  inputclass="form-control form-control-small"
                                  imagefield="gravatar"
                                  imageuri="http://www.gravatar.com/avatar/"/>

                    <br>

                    <p class="section-header">
                        Users to add: ({{userAdditonCount}})
                    </p>

                    </br>

                    <p ng-if="userAdditonCount === 0">
                        No users selected.
                    </p>

                    <div class="list-group">
                        <a href="#" class="list-group-item" ng-repeat="(email, userAddition) in userAdditons" ng-click="removeUser(email)">
                            <img src="{{userAddition.image}}"/>
                            <div class="left-most">
                                <h4 class="list-group-item-heading">{{userAddition.title}}</h4>
                                <p class="list-group-item-text">{{userAddition.description}}</p>
                            </div>
                            <div class="right-most">
                                <i class="fa fa-remove"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-class="updating ? 'btn btn-primary disabled' : 'btn btn-primary'" ng-click="ok()">{{updating ? 'Adding ...' : 'Add'}}</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </script>

        <div class="table-box" ng-if="project.isApproved()">
            <div class="title-box">
                <h2>
                    <strong>USERS ({{project.users.length}})</strong>

                    <switch-view-buttons
                            grid-view="'.container-grid-users'"
                            list-view="'.users-list'"></switch-view-buttons>
                </h2>

                <div class="titles-border-bar">
                    <span class="blues width112"></span>
                    <span class="whites width3"></span>
                </div>

                </br>
            </div>
            <!-- end .titles-box -->

            <div class="users-list hide">
                <div class="container-list">
                    <div class="boxes" ng-repeat="item in project.users">
                        <div class="boxes-box col15">
                            <span class="icon-boxes">
                                <span class="center-image"></span><img class="center-image-img"
                                                                       gravatar-src="item.email"/></a>
                            </span>
                        </div>
                        <div class="texts-box col20">
                            <span class="titles"><a>{{item.name}}</a></span>
                        </div>
                        <div class="texts-box col28">
                            <span class="gray-texts">Allowed For</span>
                            <span class="texts">{{item.allowed.join(", ")}}</span>
                        </div>
                        <div class="texts-box col20">
                            <a class="btn btn-primary">EDIT</a>
                        </div>
                    </div>
                    <div class="btn-box fr">
                        <a class="add-btn icon-add"><i></i><span>ADD NEW USER</span></a>
                    </div>
                    <span class="clearfix"></span>
                    <!-- end .btn-box -->
                </div>
                <!-- end .container-list -->
            </div>

            <div class="container-grid container-grid-users content-box-featured">

                <div class="boxes" ng-repeat="item in project.users">
                            <span class="icon-boxes orange-top-border">
                                <a><span class="center-image"></span><img class="center-image-img"
                                                                          gravatar-src="item.email"/></a>
                            </span>
                    <span class="titles"><span>{{item.name}}</span></span>
                    <span class="btn-box"><a>VIEW MORE</a></span>
                </div>
                <div class="btn-new-box" ng-click="projectCtrl.openAddUsersModal()">
                    <div class="boxs">
                        <a class="add-btn icon-add"><i></i><span>ADD NEW USER</span></a>
                    </div>
                </div>
            </div>
            <!-- end .container-grid -->
        </div>

        <!-- Project Details -->

        <div class="table-box">
            <div class="title-box">
                <h2>
                    <strong>PROJECT DETAILS</strong>
                </h2>

                <div class="titles-border-bar">
                    <span class="blues width137"></span>
                    <span class="whites width3"></span>
                </div>
            </div>
            <!-- end .titles-box -->

            <div class="table-container table-box">
                <table st-table="rowCollection" class="table table-responsive table-data">
                    <colgroup>
                        <col class="col40">
                        <col>
                    </colgroup>
                    <tbody ng-repeat="answer in project.project_answers">

                    <tr>
                        <td class="left-text">{{answer.project_question.question}}</td>
                        <td class="min-value">{{answer.answer}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- end .table-box -->
            <div class="bottom-btn-box">
                <a ui-sref="base.newProject()" class="btn btn-primary">EDIT</a>
            </div>
        </div>



    </div>
</div>