<div class="users-list-page main-content " set-width>
    <div class="content box-content">

        <section-header name="Edit User">
            <form name="adminUserFormCtrl.form" class="form-horizontal user-form" role="form"
                     ng-controller="AdminUserFormController as adminUserFormCtrl"
                     ng-init="adminUserFormCtrl.initForm(adminEditUserCtrl)"
                     ng-submit="adminUserFormCtrl.update()"
                     novalidate>
                 <div class="row">
                   <div class="col-sm-6">
                     <a ui-sref="base.admin.users.list" class="btn btn-link">
                       <i class="fa fa-long-arrow-left"></i>
                       Back to Admin Users
                     </a>
                   </div>
                 </div>

                 <div ng-include src="'/partials/admin/users/_form.html'"></div>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary" ng-disabled="!adminUserFormCtrl.canSubmit()">UPDATE USER</button>
                    <button type="button" class="btn btn-danger" ng-click="adminUserFormCtrl.destroy()">REMOVE USER</button>
                </div>
               </form>
        </section-header>
    </div>
</div>