<div class="users-list-page main-content" set-width>
  <div class="content box-content">

    <section-header header="{name: 'Users'}">
      <product-box class="product-box" ng-repeat="product in category.products" product="product">
        <a ui-sref="base.admin.products.edit({id: product.id})">Edit</a>
      </product-box>

      <div class="add-box">
        <div class="box-shadow">
          <a ui-sref="base.admin.users.create">
            <div class="fa-stack">
              <i class="fa fa-fw fa-stack-2x fa-circle-thin"></i>
              <i class="fa fa-fw fa-stack-1x fa-plus"></i>
            </div>
            <div class="title">Add New User</div>
          </a>
        </div>
      </div>
    </section-header>
  </div>
</div>
