.btn
  text-align: center
  cursor: pointer
  font-family: 'proximanova_semibold'
  border-radius: 4px
  &:hover
    text-decoration: none
  &.btn-primary
    color: $button-white-color
    background-color: #0a498b
    border-color: #0a498a
    &:hover
      background: #2e96db
      border-color: #2e96db