.left-sidebar
  .left-tray-title-icon
    margin: 15px 10px 0 15px

  .left-tray-menu-icon
    margin: 9px 10px 0 15px

  .current
    .left-tray-menu-icon
      margin: 4px 10px 0 15px

  .left-tray-icon
    font-size: 24px

.projects-content
  .grey-icon
    color: #b8bcbd
    &:hover
      color: #878889
  .top-icon
    font-size: 17px
  .bottom-icon
    margin: 12px 3px 5px 5px
    font-size: 22px
  .error-icon
    font-size: 17px
    margin: 14px 0px 0px 8px
    color: #e22e2e
  .success-icon
    font-size: 17px
    margin: 14px 0px 0px 8px
    color: #28c425
