.project-box
  margin: 23px 24px 0 24px
  border-radius: 5px
  .paddeded
    padding: 10px
  .horizontal-spanning
    float: right
    width: 100%

.login-box
  width: 50%
  margin: 0 auto
  form
    padding: 10px 24px

.box-shadow
  box-shadow: 0 0 5px 1px #ccc