<div class="edit-product-page main-content" set-width>
  <div class="content box-content container">
    <section-header name="Edit Project">
      <form name="productForm.form" class="form-horizontal product-form" role="form"
            ng-controller="ProductFormController as productForm"
            ng-init="productForm.initForm(editCtrl)"
            ng-submit="productForm.update()"
            novalidate>
        <div class="row">
          <div class="col-sm-6">
            <a ui-sref="base.admin.products.list" class="btn btn-link">
              <i class="fa fa-long-arrow-left"></i>
              Back to products list
            </a>
          </div>
          <div class="col-sm-6 text-right">
            <a type="button" class="btn btn-danger" ng-click="productForm.destroy()">Delete</a>
            <a type="submit" class="btn btn-primary" ng-click="productForm.update()" ng-disabled="!productForm.canSubmit()">Update</a>
          </div>
        </div>

        <div ng-include src="'/partials/admin/products/_form.html'"></div>
      </form>
    </section-header>
  </div>
</div>
