.box-content
  font-family: "proximanova_semibold"

  /* Things are so broken clearfix needs hacks
  .clearfix
    clear: none
    display: table

  /* So we have no surprises sizing things
  *, *:before, *:after
    box-sizing: border-box

  /* Unable to use bootstrap rows with columns. WTF
  .content
    padding: $content-padding

  .titles-border-bar
    margin-top: 5px
