
<div class="solution-search">
    <div class="solution-menu" ng-if="solutions.length">
        <a href="javascript:;" class="icon-solution current" drop-down fix-arrow="true"><span>{{solution.name | uppercase}}</span><i></i></a>
        <div class="drop-down-box hide">
            <span class="icon-arrow"></span>
            <ul>
                <li ng-repeat="item in solutions" ng-if="solution !== item">
                    <a href="javascript:" ng-click="showSolution(item)">{{item.name | uppercase}}</a>
                </li>
            </ul>
        </div>
        <!-- end .drop-down-box -->
    </div>
    <!-- end .solution-menu -->
    <div class="search-box">
        <input id="search-input" type="text" class="placeholder-text" placeholder="Search">
        <a href="javascript:" class="search-btn"></a>
    </div>
    <!-- end .search-box -->
</div>
