<div class="form-group">
  <label for="{{field.id}}" class="col-sm-3 control-label">{{field.label}}</label>

  <div class="col-sm-8 control-input">
    <div ng-switch on="field.field_type">
      <!-- check_box -->
      <input ng-switch-when="check_box" type="checkbox" name="{{field.id}}" ng-model="field.value"
             id="{{field.id}}" ng-true-value="'true'" ng-false-value="'false'" ng-disabled="{{field.disabled}}"/>

      <!-- date -->
      <div ng-switch-when="date" class="input-group">
        <span class="input-group-addon" ng-click="openDate($event, $index)"><i class="fa fa-calendar"></i></span>
        <input type="text" name="{{field.id}}" ng-click="openDate($event, $index)" ng-model="field.value"
               class="form-control" id="{{field.id}}" placeholder="{{field.help_text}}" ng-required="{{field.required}}"
               ng-disabled="{{field.disabled}}" datepicker-popup="{{format}}" is-open="dateOpened[$index]"
               datepicker-options="dateOptions" close-text="Close"/>
      </div>

      <!-- text -->
      <input ng-switch-when="text" type="text" name="{{field.id}}" ng-model="field.value" class="form-control"
             id="{{field.id}}" placeholder="{{field.help_text}}" ng-required="{{field.required}}"
             ng-disabled="{{field.disabled}}" initially-null-always-null/>

      <!-- textarea -->
      <textarea ng-switch-when="textarea" name="{{field.id}}" ng-model='field.value' class="form-control"
                id="{{field.id}}" placeholder="{{field.help_text}}" ng-required="{{field.required}}"
                ng-disabled="{{field.disabled}}"
                rows="8" initially-null-always-null></textarea>

      <!-- select_option -->
      <select ng-switch-when="select_option" name="{{field.id}}" class="form-control" ng-model="field.value"
              ng-options="option for option in options" ng-required="{{field.required}}"
              ng-disabled="{{field.disabled}}">
        <option value="">Please select an option.</option>
      </select>

      <!-- password -->
      <input ng-switch-when="password" type="password" ng-model="field.value" name="{{field.id}}"
             class="form-control" id="{{field.id}}" ng-required="{{field.required}}" ng-disabled="{{field.disabled}}"
             initially-null-always-null/>
    </div>
    <div class="help-block" ng-show="field.secret && field.value_withheld">
      <span class="help-text">A value has been set but hidden for security reasons</span>
    </div>
  </div>
</div>

