
<header class="header">
    <script type="text/ng-template" id="cart/cart-modal.html">
        <div class="modal-header">
            <h3 class="modal-title">Shopping Cart</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in cartCtrl.cartItems()">
                    <a>{{item.productName}}</a>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cartCtrl.ok()">Checkout</button>
            <button class="btn btn-warning" ng-click="cartCtrl.close()">Close</button>
        </div>
    </script>

    <div class="logo fl">
        <a href="/app/solution"><img src="/images/logo.png" alt="Project Jellyfish"></a>
    </div>
    <!-- end .logo -->
    <div class="nav-user fr" ng-if="headerCtrl.currentUser">
        <nav>
            <ul>
                <li ng-class="active">
                    <a ui-sref="base.dashboard">DASHBOARD</a>
                </li>
                <li><a>BROWSE</a></li>
                <li><a>BUILD</a></li>
                <li><a>MANAGE</a>
                </li>
                <li><a>PRICING</a></li>
            </ul>
        </nav>
        <!-- end nav -->
        <div class="icons-box">
            <a class="fa fa-bell-o top-bar-icon" drop-down><i class="notice" ng-if="headerCtrl.alerts.length">{{headerCtrl.alerts.length}}</i></a>
            <div class="drop-down-box hide keep-drop-down-open">
                <span class="icon-arrow"></span>
                <ul ng-if="headerCtrl.alerts.length > 0">
                    <li ng-repeat="item in headerCtrl.alerts | limitTo:5">
                        <span class="texts" ng-bind-html="item.trustedHtml"></span>
                        <span class="ago">{{item.ago}}</span>
                    </li>
                </ul>
                <ul ng-if="headerCtrl.alerts.length == 0">
                    <li>
                        <span>No Alerts</span>
                    </li>
                </ul>
                <div ng-if="headerCtrl.alerts.length > 5" class="view-all">
                    <a>View all notifications</a>
                </div>
            </div>
            <!-- end nav -->
        </div>
        <!-- end .drop-down-box -->
        <div class="icons-box">
            <a ng-click="headerCtrl.cartModal()" class="fa fa-shopping-cart top-bar-icon"><i class="info" ng-if="headerCtrl.cartCount()">{{headerCtrl.cartCount()}}</i></a>
        </div>
        <!-- end .icons-box -->
        <div class="user-info">
            <a class="user-info-dwwn" drop-down>
                <span class="texts">Welcome<span class="name">{{headerCtrl.currentUser.fullName()}}</span></span>
                <span class="avatar"><img gravatar-src="headerCtrl.currentUser.email" gravatar-size="26" alt="Avatar"></span>
                <span class="icon-arrow"></span>
            </a>
            <div class="drop-down-box hide">
                <span class="icon-arrow"></span>
                <ul>
                    <li><a>Edit Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <!-- end .drop-down-box -->
        </div>
        <!-- end .user-info -->
    </div>
    <!-- end .nav-user -->
</header>
