<aside>
    <nav class="side-nav" fix-sidebar toggle-sidebar>
        <ul>
            <li class="dashboard-menu" ng-class="{active: $state.includes('base.dashboard')}">
                <a class="side-arrow"> <i class="minimize-icon grey-icon fa fa-angle-left"></i></a>
                <a ui-sref="base.dashboard" class="li-links">
                    <span class="fa fa-bars left-tray-icon left-tray-title-icon"></span>
                    <span class="texts">DASHBOARD</span>
                </a>
            </li>
            <li class="li-my-projects" expand-arrow>
                <a class="li-links">
                    <span class="fa fa-file-o left-tray-icon left-tray-menu-icon"></span>
                    <span class="texts">MY PROJECTS </span>
                    <span class="number side-bar-space">{{projects.length}}</span>
                    <span class="arrows-container"><i class="arrows fa fa-caret-right"></i></span>
                </a>
                <ul>
                    <li ng-class="{first: $first}"
                        ng-repeat="item in projects"><i></i><a ui-sref="base.project({projectId: item.id})"
                                                               ui-sref-active="active">{{item.name}}</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('base.orderHistory') || $state.includes('base.service') }">
                <a href="javascript:;" class="li-links last">
                    <span class="fa fa-clock-o left-tray-icon left-tray-menu-icon"></span>
                    <span class="texts">ORDER HISTORY</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('base.marketplace') || $state.includes('base.service') }">
                <a ui-sref="base.marketplace.list" class="li-links">
                    <span class="fa fa-briefcase left-tray-icon left-tray-menu-icon"></span>
                    <span class="texts">MARKETPLACE</span>
                </a>
            </li>
            <li ng-show="currentUser.isAdmin()" ng-class="{active: $state.includes('base.admin')}" expand-arrow>
                <a class="li-links">
                    <span class="fa fa-cubes left-tray-icon left-tray-menu-icon"></span>
                    <span class="texts">ADMIN</span>
                    <span class="arrows-container"><i class="arrows fa fa-caret-right"></i></span>
                </a>
                <ul>
                    <li class="first: $first">
                        <i></i>
                        <a ui-sref="base.admin.products.list" ui-sref-active="active">Products</a>
                    </li>

                    <li class="first: $first">
                        <i></i>
                        <a ui-sref="base.admin.projects.project_questions" ui-sref-active="active">Project Questions</a>
                    </li>
                </ul>
            </li>
        </ul>
        <a ng-click="logout()" class="logout-btn"><i class="fa fa-power-off left-tray-icon left-tray-menu-icon"></i><span>LOGOUT</span></a>
    </nav>
</aside>
