
<aside class="left-sidebar">
    <nav class="side-nav" fix-sidebar toggle-sidebar>
        <ul>
            <li class="dashboard-menu" ng-class="{active: $state.includes('base.solutionBase.dashboard')}">
                <a href="javascript:;" class="side-arrow"><i></i></a>
                <a ui-sref="base.solutionBase.dashboard" class="li-links">
                    <span class="icon-dashboard"></span>
                    <span class="texts">DASHBOARD</span>
                </a>
            </li>
            <li class="current li-my-projects" expand-arrow>
                <a href="javascript:;" class="li-links">
                    <span class="icon-my-projects"></span>
                    <span class="texts">MY PROJECTS</span>
                    <span class="arrows arrow-down"></span>
                    <span class="number">{{projects.length}}</span>
                </a>
                <ul>
                    <li ng-class="{first: $first}"
                        ng-repeat="item in projects"><i></i><a ui-sref="base.project({projectId: item.id})"
                                                               ui-sref-active="active">{{item.name}}</a></li>
                </ul>
            </li>
            <li class="li-bundles" expand-arrow>
                <a href="javascript:;" class="li-links">
                    <span class="icon-bundles"></span>
                    <span class="texts">BUNDLES</span>
                    <span class="arrows arrow-right"></span>
                    <span class="number">{{bundles.length}}</span>
                </a>
                <ul>
                    <li ng-class="{first: $first}"
                        ng-repeat="item in bundles"><i></i><a href="javascript:">{{item.name}}</a></li>
                </ul>
            </li>
            <li class="li-application" expand-arrow>
                <a href="javascript:;" class="li-links">
                    <span class="icon-application"></span>
                    <span class="texts">APPLICATION</span>
                    <span class="arrows arrow-right"></span>
                    <span class="number">{{applications.length}}</span>
                </a>
                <ul>
                    <li ng-class="{first: $first}"
                        ng-repeat="item in applications"><i></i><a href="javascript:">{{item.name}}</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class="li-links">
                    <span class="icon-order-history"></span>
                    <span class="texts">ORDER HISTORY</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="li-links">
                    <span class="icon-service"></span>
                    <span class="texts">SERVICE</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('base.marketplace') || $state.includes('base.service') }">
                <a ui-sref="base.marketplace" class="li-links last">
                    <span class="icon-marketplace"></span>
                    <span class="texts">MARKETPLACE</span>
                </a>
            </li>
        </ul>
        <a href="javascript:" class="logout-btn"><i></i><span>LOGOUT</span></a>
    </nav>
</aside>