<aside class="left-sidebar">
    <nav class="side-nav" ng-if="headerData" fix-sidebar toggle-sidebar>
        <ul>
            <li class="dashboard-menu" ng-class="{active: $state.includes('base.solutionBase.dashboard')}">
                <a href="javascript:;" class="side-arrow"><i></i></a>
                <a ui-sref="base.solutionBase.dashboard" class="li-links">
                    <span class="fa fa-bars left-tray-icon left-tray-title-icon"></span>
                    <span class="texts">DASHBOARD</span>
                </a>
            </li>
            <li class="li-my-projects" expand-arrow>
                <a href="javascript:;" class="li-links">
                    <span class="fa fa-file-o left-tray-icon left-tray-menu-icon"></span>
                    <span class="texts">MY PROJECTS</span>
                    <span class="arrows arrow-right"></span>
                    <span class="number">{{projects.length}}</span>
                </a>
                <ul>
                    <li ng-class="{first: $first}"
                        ng-repeat="item in projects"><i></i><a ui-sref="base.project({projectId: item.id})"
                                                               ui-sref-active="active">{{item.name}}</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('base.orderHistory') || $state.includes('base.service') }">
                <a ui-sref="base.orderHistory" class="li-links last">
                    <span class="fa fa-clock-o left-tray-icon left-tray-menu-icon"></span>
                    <span class="texts">ORDER HISTORY</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('base.marketplace') || $state.includes('base.service') }">
                <a ui-sref="base.marketplace" class="li-links">
                    <span class="fa fa-briefcase left-tray-icon left-tray-menu-icon"></span>
                    <span class="texts">MARKETPLACE</span>
                </a>
            </li>
            <li ng-show="currentUser.isAdmin()" ng-class="{active: $state.includes('base.admin')}" expand-arrow>
                <a href="javascript:;" class="li-links">
                    <span class="fa fa-cubes left-tray-icon left-tray-menu-icon"></span>
                    <span class="texts">ADMIN</span>
                    <span class="arrows arrow-right"></span>
                </a>
                <ul>
                    <li class="first">
                        <i></i>
                        <a ui-sref="base.admin.products" ui-sref-active="active">Products</a>
                    </li>
                </ul>
            </li>
        </ul>
        <a ng-click="logout()" class="logout-btn"><i class="fa fa-power-off left-tray-icon left-tray-menu-icon"></i><span>LOGOUT</span></a>
    </nav>
</aside>
