

<div class="column-container">
    <div class="titles-box top25">
        <div class="titles" ng-transclude>

        </div>
        <span class="times times-tabs">
          <a href="javascript:" ng-class="{active: tab == 'featured'}" ng-click="tab = 'featured'">Featured</a>
          <a href="javascript:" ng-class="{active: tab == 'latest'}" ng-click="tab = 'latest'">Latest</a>
          <a href="javascript:" ng-class="{active: tab == 'all'}" ng-click="tab = 'all'">View All</a>
        </span>
        <span class="clearfix"></span>
        <div class="titles-border-bar">
            <span class="blues width137"></span>
            <span class="whites width3"></span>
        </div>
    </div>
    <div class="container-grid" ng-show="tab == 'featured'">
        <service-box ng-repeat="item in items | filter: {isFeatured: true}" service="item" ></service-box>
    </div>
    <div class="container-grid" ng-show="tab == 'latest'">
        <service-box ng-repeat="item in items | filter: {isLatest: true}" service="item" ></service-box>
    </div>
    <div class="container-grid" ng-show="tab == 'all'">
        <service-box ng-repeat="item in items" service="item" ></service-box>
    </div>
</div>