<div class="table-box" ng-if="orders">
    <div class="data-box">

        <table st-table="rowCollection" class="table table-responsive table-striped">
            <colgroup>
                <col class="col20">
                <col class="col20">
                <col class="col20">
                <col class="col20">
                <col class="col20">
            </colgroup>
            <thead>
            <tr>
                <th class="text-left">ORDER ID</th>
                <th class="text-left">ITEMS</th>
                <th class="text-left">TOTAL</th>
                <th class="text-left">STATUS</th>
                <th class="text-left">REQUEST DATE</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in orders">
                <td class="blue-texts font15"><a class="blue-link" ui-sref="base.orders({id: item.id})">{{item.id}}</a></td>
                <td class="item-texts">{{item.item_count || item.order_items.length || 0}}</td>
                <td class="green-texts">{{item.total | currency}}</td>
                <td class="{{item.color}}-texts">{{item.provision_status}}</td>
                <td class="data-texts">{{item.created_at | date:'medium' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>