<div class="table-box" ng-if="project.isApproved() && project.order_history">
    <div class="title-box">
        <h2>
            <strong>ORDER HISTORY</strong>
        </h2>

        <div class="titles-border-bar">
            <span class="blues width137"></span>
            <span class="whites width3"></span>
        </div>
    </div>
    <!-- end .titles-box -->

    <div class="data-box">

        <table st-table="rowCollection" class="table table-responsive table-striped">
            <colgroup>
                <col class="col17">
                <col>
                <col class="col10">
                <col class="col15">
                <col class="col15">
                <col class="col20">
            </colgroup>
            <thead>
            <tr>
                <th class="text-left">ORDER ID</th>
                <th class="text-left">PRODUCT</th>
                <th class="text-left">TOTAL</th>
                <th class="text-left">STATUS</th>
                <th class="text-left">REQUEST DATE</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in project.order_history">
                <td class="blue-texts font15"><a class="blue-link">{{item.id}}</a></td>
                <td class="blue-texts font15"><a class="blue-link">{{item.product_id}}</a></td>
                <td class="green-texts">{{item.total | currency}}</td>
                <td class="{{item.color}}-texts">{{item.provision_status}}</td>
                <td class="data-texts">{{item.created_at}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>