<div class="table-box" ng-if="alerts">
    <div class="title-box">
        <h2>
            <strong>NOTICES ({{alerts.length}})</strong>
        </h2>

        <div class="titles-border-bar">
            <span class="blues width137"></span>
            <span class="whites width3"></span>
        </div>
    </div>

    <div class="data-box">
        <table st-table="rowCollection" class="table table-responsive table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Project</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in alerts">
                <td ng-switch on="row.severity">
                    <i ng-switch-when="ok" class="alert-ok fa fa-bell"></i>
                    <i ng-switch-when="warning" class="alert-warningfa fa-bell"></i>
                    <i ng-switch-when="critical" class="alert-critical fa fa-bell"></i>
                    <i ng-switch-default class="alert-unknown fa fa-question-circle"></i>
                </td>
                <td>{{row.project.name}}</td>
                <td>{{row.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>