

<div class="problem-alerts-box column-box">
    <div class="titles-box">
        <h2>
            <span class="exclamation"></span>
            <strong>NOTICES ({{alerts.length}})</strong>
            <div class="solution-menu right-position80">
                <a href="javascript:;" class="icon-solution current" drop-down><span>Sort by Time</span><i></i></a>
                <div class="drop-down-box hide">
                    <span class="icon-arrow"></span>
                    <ul>
                        <li><a href="javascript:;">Sort by Name</a></li>
                        <li><a href="javascript:;">Sort by Weight</a></li>
                        <li><a href="javascript:;">Sort by Category</a></li>
                    </ul>
                </div>
                <!-- end .drop-down-box -->
            </div>
        </h2>
        <div class="titles-border-bar">
            <span class="blues width157"></span>
            <span class="whites width3"></span>
        </div>
    </div>
    <!-- end .titles-box -->

    <div class="table-box">
        <table class="table-data">
            <colgroup>
                <col class="col26">
                <col>
                <col class="col20">
            </colgroup>
            <thead>
            <tr>
                <th class="text-left">PROJECT</th>
                <th class="text-left" colspan="2">DESCRIPTION</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in alerts">
                <td class="blue-texts font15 col-title"><a href="javascript:;" class="blue-link">{{item.project.name}}</a></td>

                <td class="gray-texts">{{item.description}}</td>
                <td class="btn"> <a href="{{item.url}}" class="blue-btn height30 font12">RESOLVE</a></td>
            </tr>


            </tbody>
        </table>
    </div>
    <!-- end .table-box -->
</div>