
<div class="table-box">
    <div class="data-box">
        <table st-table="rowCollection" class="table table-responsive table-striped">
            <thead>
            <tr>
                <th></th>
                <th>PROJECT</th>
                <th>DESCRIPTION</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in alerts">
                <td ng-switch on="row.severity">
                    <i ng-switch-when="ok" class="alert-ok fa fa-bell"></i>
                    <i ng-switch-when="warning" class="alert-warningfa fa-bell"></i>
                    <i ng-switch-when="critical" class="alert-critical fa fa-bell"></i>
                    <i ng-switch-default class="alert-unknown fa fa-question-circle"></i>
                </td>
                <td>{{row.project.name}}</td>
                <td>{{row.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>