<div class="search-top">
    <div class="right-62">
        <div class="search-box">
              <span class="selectsContainer form-container" jqtransform>
                <select class="select-def">
                    <option ng-repeat="item in viewValues.searchCategories" value="item.value">{{item.name}}</option>
                </select>          
              </span>
            <div class="inputs"><input type="text" class="placeholder-text" id="search-here-input" placeholder="Search Here"></div>
            <a href="javascript:" class="search-btn"></a>
            <span class="switch-btns">
                <span class="btn-active"><a href="javascript:;" class="icon-list-btn"></a></span>
                <span class="btn-def"><a href="javascript:;" class="icon-grid-btn"></a></span>
              </span>
        </div>

    </div>
    <hr class="shadow-top">
</div>