<div ng-class="currentViewType">
  <div class="titles-box">
    <div class="col-sm-6">
      <h2>{{name}}</h2>
      <p>{{description}}</p>
    </div>
    <div ng-if="allowViewTypeToggle === undefined || allowViewTypeToggle" class="switch-buttons col-sm-6 text-right">
      <a ng-click="showGrid()" class="btn btn-link" ng-class="(currentViewType == 'grid-view') ? 'grid-switch active' : ''">
        <i class="fa fa-fw fa-lg fa-th"></i>
      </a>
      <a ng-click="showList()" class="btn btn-link" ng-class="(currentViewType == 'list-view') ? 'list-switch active' : ''">
        <i class="fa fa-fw fa-lg fa-bars"></i>
      </a>
    </div>
    <div class="clearfix"></div>
    <div class="titles-border-bar">
      <span class="blues width137"></span>
      <span class="whites width3"></span>
    </div>
  </div>
  <div class="products-listing">
    <div ng-transclude></div>
  </div>
</div>
