
<div class="statistic-area">
    <hr class="shadow-top"/>
    <h2>
        <strong>{{solution.name | uppercase}} STATISTIC</strong>
                <span class="times times-tabs">
                  <a href="javascript:"
                     class="status-day {{item == selectedStatistic ? 'active' : ''}}"
                     ng-repeat="item in solution.statistics"
                     ng-click="solutionBaseCtrl.selectInterval(item)">{{item.interval}}</a>
                </span>
    </h2>

    <div ng-repeat="stats in solution.statistics" ng-show="stats == selectedStatistic">
        <div class="status-indicator">
            <div class="status-float-box">
                <div class="round-depict">{{stats.budget.text}}</div>
            </div>
            <!-- end .status-float-box -->
            <div class="round-relative">
                <div class="round-absolute">
                    <input animate-knob
                           type="text"
                           data-target-value="{{stats.budget.percent}}"
                           data-min="0"
                           data-width="158"
                           data-height="158"
                           data-bgColor="#d2d3d3"
                           data-fgColor="#2e96db"
                           data-max="100"
                           data-readOnly="true"
                           data-thickness=".09" />
                </div>
                <div class="shadow-inset"></div>
            </div>
            <div class="icon-point"><span ng-if="stats.interval != 'Day'">{{stats.interval | uppercase}} </span>PROJECT BUDGET<a href="javascript:;"><i></i></a></div>
        </div>
        <!-- end .status-indicator -->

        <div class="status-indicator">
            <div class="status-float-box">
                <div class="round-depict">{{stats.usage.text}}</div>
            </div>
            <!-- end .status-float-box -->
            <div class="round-relative">
                <div class="round-absolute">
                    <input animate-knob
                           type="text"
                           data-target-value="{{stats.usage.percent}}"
                           data-min="0"
                           data-width="158"
                           data-height="158"
                           data-bgColor="#d2d3d3"
                           data-fgColor="#2e96db"
                           data-max="100"
                           data-readOnly="true"
                           data-thickness=".09">
                </div>
                <div class="shadow-inset"></div>
            </div>
            <div class="icon-point">USAGE<a href="javascript:;"><i></i></a></div>
        </div>
        <!-- end .status-indicator -->

        <div class="status-indicator">
            <div class="status-float-box">
                <div class="{{stats.health.isError ? 'icon-round-error' : 'icon-round-ok'}}"><i></i></div>
                <div class="round-depict">{{stats.health.text}}</div>
            </div>
            <!-- end .status-float-box -->
            <div class="round-relative">
                <div class="round-absolute">
                    <input animate-knob
                           class="hide-force"
                           type="text"
                           data-target-value="{{stats.health.percent}}"
                           value="100"
                           data-min="0"
                           data-width="158"
                           data-height="158"
                           data-bgColor="{{stats.health.isError ? '#ee424e' : '#d2d3d3'}}"
                           data-fgColor="#1ec90c"
                           data-max="100"
                           data-readOnly="true"
                           data-thickness=".09">
                </div>
                <div class="shadow-inset"></div>
            </div>
            <div class="icon-point">HEALTH<a href="javascript:;"><i></i></a></div>
        </div>
        <!-- end .status-indicator -->
    </div>


</div>
