<div set-width>
  <div class="content">
    <div class="page-title">
      <div class="page-title-text">
        <h3>Admin Settings</h3>
      </div>
    </div>
    <tabset>
      <tab ng-repeat="setting in settings" heading="{{setting.name}}">
        </br>
        <form class="form-horizontal padded horizontal-spanning" role="form" name="projectForm" novalidate>
          <span ng-repeat="field in setting.setting_fields">
            <form-input field="field"/>
          </span>

          </br>
          <div class="form-group">
            <div class="control-submit">
              <a type="submit" ng-click="updateSetting(setting)"
                 ng-class="updating ? 'btn btn-primary disabled' : 'btn btn-primary'">
                {{updating ? 'UPDATING ...' : 'UPDATE'}}
              </a>
            </div>
          </div>
        </form>
      </tab>
    </tabset>
  </div>
</div>
