<div class="product-img product-box-cell">
  <div class="icon-boxes orange-top-border product-box-shadow">
    <img class="icon-image" gravatar-src="user.email" />
  </div>
</div>
<div class="product-title product-box-cell">
  <div class="title">{{user.first_name}} {{user.last_name}}</div>
</div>
<div class="product-info product-box-cell">
  <div class="texts">{{user.role | uppercase}}</div>
  <div class="texts">{{user.email}}</div>
</div>
<div class="product-actions product-box-cell">
  <div class="btn-box">
    <div ng-transclude></div>
  </div>
</div>
