<!DOCTYPE html>
<html ng-app="broker">
<head>
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Dashboard - Jellyfish</title>

    <link href="/css/styles.css" type="text/css" rel="stylesheet" media="screen"/>
    <!--[if lt IE 9]>
        <link href="/css/ie.css" type="text/css" rel="stylesheet" media="screen"/>
    <![endif]-->

</head>
<body>
<div class="dashboard-pages" ng-cloak>

    <div ui-view="header"></div>
    <div class="wrapper">
        <div ui-view="left-sidebar"></div>
        <div ui-view></div>
        <span class="clearfix"></span>
    </div>

    <footer>
        <div class="footer-content">
            <div class="left fl">
                <strong>Project Jellyfish – Release 2 Preview</strong>
                <span>Copyright &copy; 2014 Booz Allen Hamilton. All Rights Reserved.</span>
            </div>
            <!-- end .left -->
            <div class="right fr">
                <nav class="links">
                    <a>ABOUT US</a>
                    <a>PRODUCT &amp; SOLUTION</a>
                    <a>SUPPORT</a>
                    <a>CONTACT</a>
                </nav>
                <!-- end .links -->
                <div class="shape">
                    <a class="fa fa-facebook footer-icon"></a>
                    <a class="fa fa-twitter footer-icon"></a>
                    <a class="fa fa-linkedin footer-icon"></a>
                    <a class="fa fa-google-plus footer-icon"></a>
                </div>
                <!-- end .shape -->
            </div>
            <!-- end .right -->
        </div>
    </footer>
    <!-- end footer -->
</div>

<script src="/appConfig.js" type="text/javascript"></script>
<script src="/js/bundle.js" type="text/javascript"></script>
<script src="/templates/templates.js" type="text/javascript"></script>

</body>
</html>
