<div class="modal-header">
    <h3 class="modal-title">Shopping Cart</h3>
</div>
<div class="modal-body">
    <ul ng-if="cartCtrl.cartItems().length > 0">
        <li ng-repeat="item in cartCtrl.cartItems()">
            <a>{{item.product.name}}</a>
        </li>
    </ul>
    <div ng-if="cartCtrl.cartItems().length == 0">
        Your Cart is Empty
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cartCtrl.checkout()">Checkout</button>
    <button class="btn btn-warning" ng-click="cartCtrl.close()">Close</button>
</div>