<div class="page marketplace-page main-content" set-width>
  <div class="content">
    <section-header ng-repeat="category in marketplaceCtrl.categories" header="category" hide-empty="true">
      <product-box class="product-box" ng-repeat="product in category.products" product="product">
        <a ui-sref="base.marketplace.show({id: product.id})">View More</a>
      </product-box>
    </section-header>

    <div class="banner-transverse top60">
      <div class="containers">
        <div class="boxs">
          <div class="left-box fl">
            <div class="icon-map-help"><i></i></div>
            <div class="texts-box">
              <h3>NEED HELP BUILDING CLOUD SOLUTION ?</h3>

              <p>
                Confused where to start? We’re here to help,
                simply tell us what is you need
              </p>
              <span class="links-box">
              <a><span>Get Started</span> <i class="fa fa-caret-right"></i></a>
              </span>
            </div>
          </div>
          <!-- end .left-box -->
          <div class="right-box fr">
            <span class="shape-photo"></span>
          </div>
          <!-- end .right-box -->
        </div>
      </div>
    </div>
  </div>
</div>
